body{
	color: white;
	background-color: black;
	overflow: hidden;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
}

.container,
.plugscontainer {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.headerdiv {
	margin-top:10px;
	max-width: 1000px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	display:flex;
	justify-content: space-between;	
	align-items: center;
	margin-bottom: 40px;
}

.headerdiv span{
	font-size: 48px;
	height: 50px;
	line-height: 50px;
}
.headertext {
	margin-left: 5px;
	height: 50px;
	width: 400px;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: white;
	border: 1px solid black;
	font-size:30px;
	line-height: 50px;
	color: black;
	padding:10px;
	border-radius: 3px;
}

.headertext span:after {
  content: '|';
  height: 2px;

  opacity: 1;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotor_div{
	max-width: 200px;
	height: 200px;
}

.rotor{
	width: 170px;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.rotor_text{
	font-size: 28px;
	max-width: 100px;
	color: red;
	font-weight: 300;
	cursor: pointer;
}
.rotor_textarea{
	height:35px;
	max-width: 50px;
	line-height: 28px;
	text-align: center;
	font-size: 22px;
}

.resetdiv{
	margin-top: 10px;
}
.resetdiv p{
	color: grey;
}



.resetbtn{
	height: 35px;
	background-color: #b6b6ca;
	color: black;
	font-size: 22px;
	line-height: 30px;
	border-radius: 2px;
	cursor: pointer;
}

.keyboard_div,
.plug_div{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.keyboard_row,
.plug_row{
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.keyboard_col,
.plug{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: white;
	color: black;
	text-align: center;
	margin-right: 20px;
	line-height: 60px;
	font-size: 28px;
	cursor: pointer;
	-webkit-box-shadow:0 0 20px blue; 
	-moz-box-shadow: 0 0 20px blue; 
	box-shadow:0 0 20px blue;
}
.glow{
	-webkit-box-shadow:0 0 35px yellow; 
	-moz-box-shadow: 0 0 35px yellow; 
	box-shadow:0 0 35px yellow;	
}

.r2 {
	max-width: 730px;
}
.r3 {
	max-width: 650px;
}

footer{
	max-width:1300px;
	width:100%;
	position: absolute;
	bottom: 4px;
	font-size: 24px;
	color:white;
	font-weight: 300;
	text-decoration: underline;
	text-align: center;
}

.uparrow,
.closeplugs{
	right: 5px;
	bottom:10px;
	position: absolute;
	font-size: 35px;
	cursor: pointer;
}

.uparrow:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.bottom{
	bottom: -800px;
	position: absolute;
}

.closeplugs{
	top:5px;
}

.plug_row{
	height: 150px;
}

.plugscontainer{
	text-align: center;
	max-width:1300px;
}

.plug_div,
.content {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
}

.connection_div{
	width: 300px;
	margin-top:30px;
}


.plug{
    border-radius: 2px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    color:white;
}

.active{
	background-color: orange;
}
.header{
	width:1300px;
	font-size: 48px;
	height: 50px;
	line-height: 50px;
}

.btn{
	height:50px;
	width:200px;
	font-size: 18px;
	background-color: #000000;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	margin:5px;
}

.save{
	display:none;
}

.message,
.message2{
	color: red;
    font-size: 20px;
    
}
.message{
	display: none;
}

.cleartext {
	height: 70px;
    margin-left: 15px;
}

.btn:hover{
		-webkit-box-shadow:0 0 10px yellow; 
	-moz-box-shadow: 0 0 10px yellow; 
	box-shadow:0 0 10px yellow;	
}