body{
	color: white;
	background-color: black;
}

.container {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display:flex;
	justify-content: space-between;
}

.headerdiv {
	margin-top:30px;
	max-width: 1000px;
	height: 150px;
	margin-right: auto;
	margin-left: auto;
	display:flex;
	justify-content: space-between;	
	align-items: center;
	margin-bottom: 40px;
}

.headerdiv span{
	font-size: 48px;
	height: 70px;
	line-height: 70px;
}
.headertext {
	height: 70px;
	width: 400px;
	overflow-x: auto;
	overflow-y: hidden;
	background-color: white;
	border: 1px solid black;
	font-size:40px;
	line-height: 70px;
	color: black;
	padding:10px;
	border-radius: 3px;
}

.headertext span:after {
  content: '';
  width: 20px;
  height: 2px;
  background: black;
  opacity: 1;
  display: inline-block;
  animation: blink 1s linear infinite alternate;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotor_div{
	max-width: 200px;
	height: 200px;
}

.rotor{
	width: 170px;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rotor_text{
	font-size: 28px;
	max-width: 100px;
	color: red;
	font-weight: bold;
	cursor: pointer;
}
.rotor_textarea{
	height:35px;
	max-width: 50px;
	line-height: 28px;
	text-align: center;
}

.keyboard_div{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.keyboard_row{
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.keyboard_col{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: white;
	color: black;
	text-align: center;
	margin-right: 20px;
	line-height: 60px;
	font-size: 28px;
	cursor: pointer;
	-webkit-box-shadow:0 0 20px blue; 
	-moz-box-shadow: 0 0 20px blue; 
	box-shadow:0 0 20px blue;
}
.glow{
	-webkit-box-shadow:0 0 35px yellow; 
	-moz-box-shadow: 0 0 35px yellow; 
	box-shadow:0 0 35px yellow;	
}

.r2 {
	max-width: 730px;
}
.r3 {
	max-width: 650px;
}