<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EnigmaSim</title>
        <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >
    </head>
    <body>
    	<div class="container">
    		<div class="headerdiv">
    			<span>Encrypted Text : </span>
    			<div class="headertext" placeholder="Encrypted Text"> <span></span></div>
                <button class="btn cleartext"> Clear Text</button>
    		</div>
    	</div>
    	<div class="container">
        <div class="rotor_div">
          <div class="rotor">
            <span class="rotor_textarea">Name</span>
            <span class="rotor_textarea">Pointer</span>
          </div>
        	<div class="rotor r1">
        		<span class="rotor_text">Rotor </span>
        		<input type="text" class="rotor_textarea" rows="1" />
        	</div>
        	<div class="rotor r2">
        		<span class="rotor_text">Rotor </span>
        		<input type="text" class="rotor_textarea" rows="1" />
        	</div>
        	<div class="rotor r3">
        		<span class="rotor_text">Rotor </span>
        		<input type="text" class="rotor_textarea" rows="1" />
        	</div>
          <div class="resetdiv">
            <p>Click on Rotor name to change rotor</p>
          </div>
        </div>
        <div class="keyboard_div">
        	<div class="keyboard_table">
        		<div class="keyboard_row r1">
    					<div class="keyboard_col" id="q"> Q </div>
    					<div class="keyboard_col" id="w"> W </div>
    					<div class="keyboard_col" id="e"> E </div>
    					<div class="keyboard_col" id="r"> R </div>
    					<div class="keyboard_col" id="t"> T </div>
    					<div class="keyboard_col" id="y"> Y </div>
    					<div class="keyboard_col" id="u"> U </div>
    					<div class="keyboard_col" id="i"> I </div>
    					<div class="keyboard_col" id="o"> O </div>
    					<div class="keyboard_col" id="p"> P </div>
        		</div>
        		<div class="keyboard_row r2">
    					<div class="keyboard_col" id="a"> A </div>
    					<div class="keyboard_col" id="s"> S </div>
    					<div class="keyboard_col" id="d"> D </div>
    					<div class="keyboard_col" id="f"> F </div>
    					<div class="keyboard_col" id="g"> G </div>
    					<div class="keyboard_col" id="h"> H </div>
    					<div class="keyboard_col" id="j"> J </div>
    					<div class="keyboard_col" id="k"> K </div>
    					<div class="keyboard_col" id="l"> L </div>
        		</div>
        		<div class="keyboard_row r3">
    					<div class="keyboard_col" id="z"> Z </div>
    					<div class="keyboard_col" id="x"> X </div>
    					<div class="keyboard_col" id="c"> C </div>
    					<div class="keyboard_col" id="v"> V </div>
    					<div class="keyboard_col" id="b"> B </div>
    					<div class="keyboard_col" id="n"> N </div>
    					<div class="keyboard_col" id="m"> M </div>
        		</div>
        	</div>
        </div>

        <span class="uparrow"><i class="fas fa-arrow-circle-up"></i></span>
    	</div>
      <div class="plugscontainer bottom">
        <span class="closeplugs"><i class="far fa-times-circle"></i></span>
        <div class="header">
          Plug Connections

        </div>
        
        <div class="content">
            <p class="message2">10 Connections, from row 1 to row 2</p>
            <div class="plug_div">
                <div class="plug_row row1">
                </div>
                <div class="plug_row row2">

                </div>
                <p class="message">An alphabet can have only one plug connection (If it isn't obvious!)</p>
                <div class="plug_row">
                    <button class="btn scramble"> Scramble Plug Connections </button>
                    <button class="btn edit"> Edit Plug Connections </button>
                    <button class="btn save"> Save Plug Connections </button>
                </div>
            </div>
        </div>
      </div>
      <footer>
        By Using the same Rotor and Plugboard Settings, the Cipher message gives back the original message
        
      </footer>

		<script
		  src="{{ url_for('static', filename='jquery.js') }}"
		  >
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>