<html>
    <head>
        <title>EnigmaSim</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="rotor_div">
        	<div class="rotor r1">
        		<span class="rotor_text">Rotor 1</span>
        		<textarea class="rotor_textarea" rows="1">22</textarea>
        	</div>
        	<div class="rotor r1">
        		<span class="rotor_text">Rotor 2</span>
        		<textarea class="rotor_textarea" rows="1">2</textarea>
        	</div>
        	<div class="rotor r1">
        		<span class="rotor_text">Rotor 3</span>
        		<textarea class="rotor_textarea" rows="1">12</textarea>
        	</div>
        </div>
        <div class="keyboard_div">
        	<div class="keyboard_table">
        		<div class="keyboard_row r1">
  					<div class="keyboard_col"> Q </div>
  					<div class="keyboard_col"> W </div>
  					<div class="keyboard_col"> E </div>
  					<div class="keyboard_col"> R </div>
  					<div class="keyboard_col"> T </div>
  					<div class="keyboard_col"> Y </div>
  					<div class="keyboard_col"> U </div>
  					<div class="keyboard_col"> I </div>
  					<div class="keyboard_col"> O </div>
  					<div class="keyboard_col"> P </div>
        		</div>
        		<div class="keyboard_row r2">
  					<div class="keyboard_col"> A </div>
  					<div class="keyboard_col"> S </div>
  					<div class="keyboard_col"> D </div>
  					<div class="keyboard_col"> F </div>
  					<div class="keyboard_col"> G </div>
  					<div class="keyboard_col"> H </div>
  					<div class="keyboard_col"> J </div>
  					<div class="keyboard_col"> K </div>
  					<div class="keyboard_col"> L </div>
        		</div>
        		<div class="keyboard_row r3">
  					<div class="keyboard_col"> Z </div>
  					<div class="keyboard_col"> X </div>
  					<div class="keyboard_col"> C </div>
  					<div class="keyboard_col"> V </div>
  					<div class="keyboard_col"> B </div>
  					<div class="keyboard_col"> N </div>
  					<div class="keyboard_col"> M </div>
        		</div>
        	</div>
        </div>
    </body>
</html>